.event-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  
  .event-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .event-description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .event-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #navbar ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  #navbar ul li a:hover {
    text-decoration: underline;
  }
  
  #content {
    padding: 20px;
    background-color:rgb(144 210 244 / 80%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #content h2 {
    margin-top: 0;
  }
  
  #content p {
    margin-bottom: 20px;
  }
  
  #footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Event styles */
  .event-container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .event-container h3 {
    margin-top: 0;
  }
  
  .event-container p {
    margin-bottom: 10px;
  }
  
  .event-container button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
/* Below is loader css*/
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  border: 6px solid #3498db;
  animation: loaderAnimation 1.5s linear infinite;
}

.loader::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  width: 100%;
  height: 100%;
  border: 6px solid transparent;
  border-top-color: #3498db;
  border-radius: 50%;
  animation: loaderAnimation 1.5s linear infinite;
}

@keyframes loaderAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    border-radius: 50%;
  }
  100% {
    transform: rotate(360deg);
  }
}
