
body{
  background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
}

.container{
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: 

  'navbar navbar navbar navbar'
  'section section section section'
  /* 'footer footer footer footer'; */
}
.h-secondary center{
  font-size: 45px;
}
#games{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  
}


#games .box1{
  border: 2px solid rgb(13 13 88);
  padding: 100px;
  margin: 2px 50px;
  border-radius: 23px;
  /* background-image: url('../img/Screenshot\ 2023-06-12\ 154213.png'); */
  margin-bottom: 20px;
  top:0px;
  left:0px;
  /* width: 30%; */
  z-index: -1;
  opacity:0.9;
}

#games .box2{
  border: 2px solid rgb(13 13 88);
  padding: 100px;
  margin: 2px 50px;
  border-radius: 23px;
  /* background-image: url('../img/football-g3e1c63b19_1280.jpg'); */
  margin-bottom: 20px;
  
}

#games .box3{
  border: 2px solid rgb(13 13 88);
  padding: 100px;
  margin: 2px 50px;
  border-radius: 23px;
  /* background-image: url('../img/sunset-g5631e5178_1280.jpg'); */
  margin-bottom: 20px;
  
}
.createTourLinkButton{
  text-decoration: none;
}
.bdr{
  
  border: 2px solid black;
  padding: 23px;
  background-color: antiquewhite;
}
nav{
  grid-area: navbar;
}
section{
  
  grid-area: section;
}
footer{
  grid-area: footer;
}

@media only screen and (max-width: 300px){
  
}
@media only screen and (min-width: 300px) and (max-width: 500px){
  
  .container{
  
  grid-template-areas: 
  'navbar navbar navbar navbar'
  'section section section section'
  /* 'footer footer footer footer'; */
  }
  aside{
      display: none;
  }
  .span{
      display: block;
      text-align: center;
  }
}
@media only screen and (min-width: 500px) and (max-width: 800px){
  
  .container{
  
  grid-template-areas: 
  'navbar navbar navbar navbar'
  'section section section section'
  /* 'footer footer footer footer'; */
  }
  .span{
      display: block;
      text-align: center;
  }

}
@media only screen and (min-width: 800px){
  
}